body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
    // font-family: 'Playfair Display', serif;
}



// ===== Navbar =====
.navbar-brand {
    img {
        max-height:40px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: #071c4d;

                &.active{
                    font-weight: bold;
                    color: #071c4d !important;
                }
            }
            .dropdown-item{
                color:
                #071c4d;
            }
        }
    }
}

.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px  !important;
    margin-right: -18px !important;
    
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071c4d;
    color: #FFFFFF;

    &:hover {
        background-color: #1341ad;
        color: #FFFFFF;
    }
} 
// ===== Navbar =====



// ===== Header =====
header{ 
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/Header.jpg');
    background-size: cover;

    h1, p {
        color: #FFFFFF;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started{
        background-color: #ff9e53;
        color: #FFFFFF;

        &:hover{
            background-color: #b88863;
            color: #E4E6EB;
        }
    }
}
// ===== Header =====



// ===== Statistic =====
.section-stats {
    margin-top: -50px;

    .stats-detail{
        padding-top: 15px;
        background-color: #FFFFFF;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}
// ===== Statistic =====



// ===== Wisata Popular =====
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
        
        h2,p {
            color: #FFFFFF;
        }

        h2 {
            font-family: 'Playfair Display', serif; 
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #000000;
            color: #FFFFFF ;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country{
            font-size: 18px;
            color: #FFFFFF ;
        }
        
        .travel-location{
            font-size: 26px;
            color: #FFFFFF ;
        }

        .travel-button{
            .btn-travel-details{
                background-color: #ff9e53;
                color: #FFFFFF;

                &:hover{
                    background-color: #b88863;
                    color: #FFFFFF;
                }
            } 
        }
    } 
}
// ===== Wisata Popular ===== 



// ===== Our Networks =====
.section-networks{
    background-color: #FFFFFF;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }

    img {
        max-width: 100%;
    }
}
// ===== Our Networks ===== 